<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Sirve /index.html si alguien pide /index.html explícito -->
    <defaultDocument enabled="true">
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- iisnode para tu app -->
    <handlers>
      <add name="iisnode" path="src/server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- 1) Si piden un archivo que EXISTE (css/js/img), que lo sirva IIS -->
        <rule name="Static files first" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- 2) Todo lo demás (SPA y API) -> Node -->
        <rule name="Api and SPA to Node" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <!-- API -->
            <add input="{URL}" pattern="^/api/.*" />
            <!-- Rutas que NO son archivo ni directorio (SPA) -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="src/server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
